
.container {
    background-color: #0db;
    margin: 5px;
    padding:20px;
     gap: 0px;
    color: #fff;
    font-size: large;
    width: 500px;
}
h5 {
    background-color: #0bd;
    gap: 5px;
    margin: 5x;
    display:flex;
   /* flex-direction: column; */
   

}

.itemrradadio{
    /* flex-direction: column; */
    background-color: #0bd;
   
}

.radio {
    margin-top: -20px

}

.inputcota{
    background-color: rgb(235, 203, 134);
    
    padding: 3px;
}
